<!--<div *ngIf="obra">
    <h2>{{obra.name | uppercase}} CONFIGURATOR</h2>
</div> -->

<div class="row" style="justify-content: center;">
    <mat-horizontal-stepper class="col-md-11" headerPosition = "bottom">
      
      <mat-step label="{{step.name}}" *ngFor="let step of steps">
        <div class="row" *ngIf="step.CGI == false; else elseCGI">  
          <img src="{{ optionSeleted.img_src }}" class="col-md-10 img-fluid border border-5">
            <div class="col-md-2">
              <div  data-mdb-spy="scroll"
              data-mdb-target="#scrollspy1"
              data-mdb-offset="0"
              class="scrollspy-example">
              <div class="row">
                <div class="btn-group">
                  <button class="btn btn-primary" *ngIf="step.idStep == 1; else elseBlock1" mat-button matStepperPrevious disabled>Previous</button>
                  <ng-template #elseBlock1><button class="btn btn-primary" mat-button matStepperPrevious (click)="getPasoAnterior()">Previous</button></ng-template>
              
                    <button *ngIf="step.idStep == cantStep; else elseBlock2" class="btn btn-success" (click)="openModal()">
                      Conclude
                    </button>
              
                  <ng-template #elseBlock2><button class="btn btn-primary" mat-button matStepperNext (click)="getPasoSiguiente(optionSeleted)">Next</button></ng-template>
                </div>
              </div>
              <br><br>
              <div class="row" *ngIf="step.CGI == false; else elseBlock3">
                <h2 class="fs-3">Pick your option:</h2>
                  <br><br>
                  
                  <mat-radio-group name="opList" class="example-radio-group" [(ngModel)]="optionSeleted">
                    <div *ngFor="let option of options">
                    
                          <mat-radio-button *ngIf="step.idStep == option.idStep" class="example-radio-button" [value]="option" (click)="llenarLista(option)">
                            <p class="fst-italic fs-3">{{ option.name }}</p>
                          </mat-radio-button>
                
                    </div>
                    <div>
                      <mat-radio-button class="example-radio-button" [value]="optionVacia" (click)="llenarLista(optionVacia)">
                        <p class="fst-italic fs-3">Saltar Opcion</p>
                      </mat-radio-button>
                    </div>
                  </mat-radio-group>
            
              </div>
       
              <br>
             
              <br> 
              <div class="row">
                <mark><strong><h1>You Selection</h1></strong></mark>
                <table class="table border border-5">
                  <thead>
                    <tr>
                      <th scope="col">#</th>
                      <th scope="col">Art</th>
                      <th scope="col">Price</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let a of cotizacion">
                      <th *ngIf="a.name !== ''">*</th>
                      <th *ngIf="a.name !== ''">{{ a.name }}</th>
                      <th *ngIf="a.name !== ''">{{ a.price }}</th>
                    </tr>
                    <tr style="background-color: gray;">
                      <th></th>
                      <th>TOTAL </th>
                      <th>$ {{ getPriceTotal() }}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        

        </div>
        <ng-template #elseCGI>
          <div class="row">
            <img src="{{ optionSeleted.img_src }}" class="col-md-8 img-fluid border border-5">
              <div class="col-md-4">
                <div  data-mdb-spy="scroll"
                data-mdb-target="#scrollspy1"
                data-mdb-offset="0"
                class="scrollspy-example">
                <div class="row">
                  <div class="btn-group">
                    <button class="btn btn-primary" *ngIf="step.idStep == 1; else elseBlock1" mat-button matStepperPrevious disabled>Previous</button>
                    <ng-template #elseBlock1><button class="btn btn-primary" mat-button matStepperPrevious (click)="getPasoAnterior()">Previous</button></ng-template>
                
                      <button *ngIf="step.idStep == cantStep; else elseBlock2" class="btn btn-success" (click)="openModal()">
                        Conclude
                      </button>
                
                    <ng-template #elseBlock2><button class="btn btn-primary" mat-button matStepperNext (click)="getPasoSiguiente(optionSeleted)">Next</button></ng-template>
                  </div>
                  
                </div>
                <br><br>
                <div class="row">
                  <h2 class="fs-3">Pick your option:</h2>
                    <br><br>
                    
                    <table class="table">
                      <thead>
                        <tr>
                          <th style="background-color: black;"></th>
                          <th *ngFor="let a of ObtenerAmbientes()">{{a.name}}</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let complete of ObtenerOptionsCGI()">
                          <th>{{ complete.name }}</th>
                          <th *ngFor="let a of getPrices(complete.idCGI); let i = index">
                            <input mdbCheckbox type="checkbox" class="btn-check" id="chek{{a.idStep + a.idObra + a.idAmbiente + a.idCGI + i + a.price}}" autocomplete="off" name="chek{{a.idStep + a.idObra + a.idAmbiente + a.idCGI + i}}"/>
                            <label class="btn btn-primary" for="chek{{a.idStep + a.idObra + a.idAmbiente + a.idCGI + i + a.price}}">${{ a.price }}</label>
                          </th>
                        </tr>
                      </tbody>
                    </table>
              
                </div>
          
                <br>
                
                <br> 
                <div class="row">
                  <mark><strong><h1>You Selection</h1></strong></mark>
                  <table class="table border border-5">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Art</th>
                        <th scope="col">Price</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let a of cotizacion">
                        <th *ngIf="a.name !== ''">*</th>
                        <th *ngIf="a.name !== ''">{{ a.name }}</th>
                        <th *ngIf="a.name !== ''">{{ a.price }}</th>
                      </tr>
                      <tr style="background-color: gray;">
                        <th></th>
                        <th>TOTAL </th>
                        <th>$ {{ getPriceTotal() }}</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>

        </ng-template>
      </mat-step>
    
    </mat-horizontal-stepper>
  </div>
