
  
  .boton-pn {
    background-color: #4c2f91;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
  }

  .boton-option {
    background-color: rgba($color: #4c2f91, $alpha: 0.8);
    border-color: #4c2f91;
    color: white;
    font-size: 16px;
    transition-duration: 0.1s;
  }

  .th-hover {
    transition-duration: 0.4s;
    width: min-content;
  }

  .th-hover:hover {
    background-color: rgba($color: #cac7dd, $alpha: 0.6);
    color: white;
  }

  .boton-pn:hover {
    background-color: #792792;
    color: white;
    transition-duration: 0.4s;
  }

  .columna-options {
    background-color: rgba($color: #cac7dd, $alpha: 0.6);
    border: 8px solid;
    border-color: rgba($color: #4c00ff, $alpha: 0.6);
    border-radius: 8px;
  }

  .cuadro {
    background-color: rgba($color: #cac7dd, $alpha: 0.4);
    border-radius: 8px;
  }

  .img-opt {
    border: 8px solid;
    border-color: rgba($color: #4c00ff, $alpha: 0.6);
    border-radius: 8px;
  }

  .titulo {
    background-color: rgba($color: #622674, $alpha: 0.4);
    width: 80%;
    text-align: center;
    border: 2px solid;
    border-color: rgba($color: #4c2f91, $alpha: 0.8);
    border-radius: 12px;
    margin-left: auto;
    margin-right: auto;
  }

  .btn-success {
    background-color: rgb(73, 26, 150);
    border-color: rgb(73, 26, 150);
    border-radius: 12px;
  }
  