
<nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">

    <!-- Brand 
    <a class="navbar-brand" style="float: left;" href="/">
      <img height="50"
      alt="" src="../assets/images/logoRenoGris.png">
    </a> -->

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="font-size: 24px;">

      <!-- Left -->
      <div class="container" style="float: center;">
      <ul class="navbar-nav justify-content-center">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/">About reno</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Products</a>
        </li>
      </ul>
    </div>
      <!-- Right -->
      <ul class="navbar-nav nav-flex-icons" style="float: rigth;">
        <li class="nav-item">
          <a href="https://es-la.facebook.com/amoblamientosrenosa/" class="nav-link" target="_blank">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a href="https://www.instagram.com/amoblamientosreno/?hl=es" class="nav-link" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>

    </div>


</nav>
<!-- Navbar -->

<div class="bg-image">
  <img src="https://www.tecmasolutions.com/images/00-foto-tecma-01.jpg" class="w-100" />
  <div
    class="mask"
    style="
      background: linear-gradient(
        45deg,
        rgba(29, 236, 197, 0.7),
        rgba(91, 14, 214, 0.7) 100%
      );
    "
  >
    <div>
      <br><br><br><br><br>
      <div class="text-center white-text wow fadeIn">
        <!-- <h1 class="mb-4">
          <strong>{{title}}</strong>
        </h1>
        <br> -->
      
          <router-outlet></router-outlet>
     
        <br><br>

     </div>      
    </div>

  
</div>
