
<div class="row justify-content-center">
  <div class="col-md-3" *ngFor="let obra of obras">
    <div class="bg-image ripple hover-zoom" data-mdb-ripple-color="light">
        <img
          src="{{ obra.img_src }}"
          class="img-fluid rounded"
        />
        <!-- <a routerLink="/cotizador/{{obra.idObra}}"> -->
          <div class="mask" style="background-color: rgba(0, 0, 0, 0.4); height: 10%;">
            <div class="d-flex justify-content-center align-items-center h-100">
              <p class="text-white fs-2 fst-italic">{{obra.name}}</p>
            </div>
          </div>
          <div class="hover-overlay">
            <div class="mask" style="background-color: rgba(251, 251, 251, 0.2);"></div>
          </div>
        <!-- </a> -->
    </div>
    <div class="form-control fondo-select">
          <h2>Seleccione su piso y departamento.</h2>
          <label class="col-md text-align" for="piso"><strong>PISO:</strong></label>
          <select class="form-select col-md" name="piso" id="piso" [(ngModel)]="selectPiso">
            <option *ngFor="let piso of getPisos(obra.idObra)" [value]="piso">{{ piso }}</option>
          </select>
          <label class="col-md text-align" for="depto"><strong>DEPARTAMENTO:</strong> </label>
          <select class="form-select col-md" name="depto" id="depto" [(ngModel)]="selectDepto">
            <option *ngFor="let depto of getDeptos(obra.idObra, selectPiso)" [value]="depto">{{ depto }}</option>
          </select>
          <br>
          <button class="btn btn-danger" routerLink="/cotizador/{{obra.idObra}}/{{selectPiso}}/{{selectDepto}}" [disabled]="!selectDepto">CONFIGURAR</button>
    </div>
  </div>
</div>




