<p class="fw-bold fs-1 text-center">¡Gracias por su elección!</p>
<br>
<p class="fs-3 fw-normal text-center">Uno de nuestros asesores lo contactarán a la brevedad para seguir con el proceso.</p>

<br><br><br>



        <nav class="nav navbar-expand-lg justify-content-center" style="font-size: 6rem;">    
                <li>
                    <a href="#" class="nav-link">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                </li>
                <li>
                    <a href="#" class="nav-link">
                        <i class="fab fa-instagram"></i>
                    </a>
                </li>
                <li>    
                    <a href="#" class="nav-link">
                        <i class="fab fa-twitter"></i>
                    </a>
                </li>    
        </nav>
