<p class="fw-bold fs-1">¡Gracias por su elección!</p>
<br>
<p class="fs-3 fw-normal">Uno de nuestros asesores lo contactarán a la brevedad para seguir el proceso.</p>

<br><br><br>



    <div class="row" style="font-size: 100px;">
        
       
            <a href="#" class="nav-link" target="_blank">
                <i class="fab fa-facebook-f"></i>
            </a>
           
           
            <a href="#" class="nav-link" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>

            <a href="#" class="nav-link" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            <a href="#" class="nav-link" target="_blank">
                <i class="fab fa-reddit"></i>
            </a>
     
       
    </div>
