
<div class="modal-dialog modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel"><strong>Cotizador</strong></h2>
        <button type="button" class="btn-close" (click)="modalRef.close()" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form (ngSubmit)="onSubmit()" [formGroup]="registerForm">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <mdb-form-control class="col">
                <div class="form-outline">
                  <input mdbInput type="text" formControlName="firtName" id="firtName" name="firtName" class="form-control" required>
                  <label mdbLabel class="form-label" for="firtName" style="margin-left: 0px;">First name</label>
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div>
                </div>
              </mdb-form-control>
              <mdb-form-control class="col">
                <div class="form-outline">
                  <input mdbInput type="text" formControlName="lastName" id="lastName" name="lastName" class="form-control" required>
                  <label mdbLabel class="form-label" for="lastName" style="margin-left: 0px;">Last name</label>
                  <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 68px;"></div><div class="form-notch-trailing"></div></div>
                </div>
              </mdb-form-control>
            </div>

            <!-- Email input -->
            <mdb-form-control class="form-outline mb-4">
              <input mdbInput type="email" formControlName="email" id="email" name="email" class="form-control" required>
              <label mdbLabel class="form-label" for="email" style="margin-left: 0px;">Email</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 40px;"></div><div class="form-notch-trailing"></div></div>
            </mdb-form-control>

            <!-- Number input -->
            <mdb-form-control class="form-outline mb-4">
              <input mdbInput type="number" formControlName="phone" id="phone" name="phone" class="form-control" required>
              <label mdbLabel class="form-label" for="phone" style="margin-left: 0px;">Phone</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 44px;"></div><div class="form-notch-trailing"></div></div>
            </mdb-form-control>

            <!-- Message input -->
            <mdb-form-control class="form-outline mb-4">
              <textarea mdbInput class="form-control" formControlName="addittionalInfo" id="addittionalInfo" name="addittionalInfo" rows="4"></textarea>
              <label mdbLabel class="form-label" for="addittionalInfo" style="margin-left: 0px;">Additional information</label>
              <div class="form-notch"><div class="form-notch-leading" style="width: 9px;"></div><div class="form-notch-middle" style="width: 135.2px;"></div><div class="form-notch-trailing"></div></div>
            </mdb-form-control>

           <!-- <button type="submit" class="btn btn-primary btn-block" routerLink="/step" (click)="modalRef.close()">Conclude order</button> -->
           <button [disabled]="registerForm.invalid" class="btn btn-primary">Conclude order</button>
            
        </form>

      </div>
    </div>
